$color-body: #fff;
$color-text: #000;
$color-garage-background: #E5E5E5;
$color-start-button: #D5EDA9;
$color-stop-button: #FCA798;
$color-create-button: #FDCF59;
$color-update-button: #FDCF59;
$color-brand: #FDCF59;
$color-inputs: #575757;
$color-dark-grey: #544837;
$color-inputs-placeholders: #C7C9C9;